:root{
    --slide-width:50vw;
    --slide-height:50vh
}

main{
    width: var(--slide-width);
    height: var(--slide-height);
    border: 5px solid orange;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

section{
    display: flex;
    width: fit-content;
    height: fit-content;
    animation-name: slides;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

div{
    width: var(--slide-width);
    height: var(--slide-height);
}

div:first-child{
    background-image: url("/Case_05/assets/images/slide1.jpeg");
    background-size: cover;
    background-position: center;
}

div:nth-child(2){
    background-image: url("/Case_05/assets/images/slide2.jpeg");
    background-size: cover;
    background-position: center;
}

div:nth-child(3){
    background-image: url("/Case_05/assets/images/slide3.jpeg");
    background-size: cover;
    background-position: center;
}

div:nth-child(4){
    background-image: url("/Case_05/assets/images/slide4.jpeg");
    background-size: cover;
    background-position: center;
}

@keyframes slides {
    0%,20%{
        transform: translateX(0%);
    }
    25%,45%{
        transform: translateX(-25%);
    }

    50%,70%{
        transform: translateX(-50%);
    }

    75%,100%{
        transform: translateX(-75%);
    }
}